  <tbody>
    <% @menus.each do |menu| %>
      <tr>
        <td><h2><%= menu.title %></h2></td>
        <td><%= menu.description %></td>
        <td><%= link_to 'Show', menu, :class=>"btn btn-default"  %></td>
        <% if current_user.has_role? "owner" %>
        <td><%= link_to 'Edit', edit_menu_path(menu) %></td>
        <td><%= link_to 'Destroy', menu, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Menu', new_menu_path, :class=>"btn btn-default"  %>   <%= link_to "Export to CSV", menus_path(format: "csv"), :class=>"btn btn-default" %>
