<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @venue.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @venue.description %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @venue.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @venue.updated_at %>
</p>

<p>
  <strong>Plan:</strong>
  <%= @venue.plan_id %>
</p>

<%= link_to 'Edit', edit_venue_path(@venue) %> |
<%= link_to 'Back', venues_path %>
